.box {
    width: 430px;
    background-color: blue;
    display: flex;

}

body {
    background-image: url('../src/imgs/weather.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.sidebar {
    width: 250px;
    height: 500px;
    background-color: #2F4050;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column;
}

.weather-box {
    border: 3px solid blue;
    padding: 50px;
    border-radius: 30px;
    background-color: skyblue;
}